<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "artclass.jpg" %>')">
  <div class="container">
    <h1>Art Classes in Tokyo, Japan</h1>
    <p>pottery, painting, drawing, and diy classes and workshops for everyone!</p>
  </div>
</div>
