<%= render "banner" %>
<div class="container text-center my-3">
  <h2>Upcoming Classes</h2>
  <div class="cards mt-2 mb-5">
    <% @art_classes_samples.each do |art_class| %>
      <%= render "card_home", art_class: art_class %>
    <% end %>
  </div>
  <h2>Categories</h2>
  <div class="cards mt-2 mb-5">
    <% @art_classes_samples.each do |art_class| %>
      <%= render "card_home", art_class: art_class %>
    <% end %>
  </div>
</div>
