<div class= "container">

  <div class= "profile-box">
    <div class= "user-img">
    </div>
    <div class= "user-info">
      <p>Welcome, <%= current_user.name %>! </p>
    </div>
  </div>

  <div class= "reservation-box">
    <div class="container">
      <div class= "user-reservations">
        <% current_user.reservations.each do |reservation| %>
        <div class="card-simple">
          <img
            alt="anteloupe canyon"
            class="card-simple-image"
            src="https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          />
          <div class="card-simple-tags">
            <span class="tag-green">Travel</span><span class="tag-orange"
              >Landscape</span
            >
          </div>
          <div class="card-simple-text">
            <img
              src="https://avatars2.githubusercontent.com/u/26819547?s=400&u=ae79d8825ad1127723641cbf32a9a7e2ec221e7f&v=4"
              class="card-simple-avatar"
              alt="avatar"
            />
            <div class="price-tag">¥<%= reservation.art_class.price %></div>
            <div>
                <h2><%= reservation.art_class.title %></h2>
                <p><%= reservation.art_class.description %></p>
            </div>
            <a class="card-simple-button" href="https://yannklein.dev/">A button</a>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
<% end %>
