.navbar-lewagon {
  justify-content: space-between;
  background: white;

  // .navbar-brand i {
  //   width: 120px;
  // }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.bottom_navbar {
  display:flex
}
