.parent-box{
  display:flex;
}
.profile-box {
  margin-left: 2%;
  margin-right: 4%;
  width: 30%;
  background-color: aliceblue;
}

.user-info {
  background-color: bisque;
}

.reservation-box {
  margin-right: 2%;
  width: 70%;
  background-color: aliceblue;
}

.user-img {
  background-color: aquamarine;
  width: 100%;
}
