.showpage-body {
  display: flex;
}

.event-description {
  width: 70%;
  margin-right: 4%;
  margin-left: 2%;
  margin-bottom: 4%;
  background-color: rgb(203, 203, 203);

}

.img-fluid {
  max-width: 100%;
}

.price-tag-navbar {
  display:flex
}

.event-location {
  width: 30%;
  margin-right: 2%;
  background-color: rgb(203, 203, 203);
  box-shadow: 1px;
  margin-bottom: 4%;
}

.bottom-navbar{
  display: flex;
}
