.title {
  background-size: cover;
  background-position: center;
  height: 120px;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 2%;
}

.title2 {
  background-size: cover;
  background-position: center;
  height: 130px;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EDEDED;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 2%;
}

.title3 {
  background-size: cover;
  background-position: center;
  height: 50px;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 2%;
}

.user{
  position: relative;
}

.profile{
  top:-50px;
  left: 40%;
  height: 90px;
  width: 90px;
  border:3px solid #fff;
  border-radius: 50%;
  margin-left: 5%;
  display: flex;
}

.profile img{
  height: 80px;
  width: 83px;
  margin-top:2px;
  display: flex;
}
