.title {
  background-size: cover;
  background-position: center;
  height: 180px;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 2%;
}

.title2 {
  background-size: cover;
  background-position: center;
  height: 180px;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 2%;
}

.title3 {
  background-size: cover;
  background-position: center;
  height: 100px;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 2%;
}
